<form action="/articles/:id/edit">
  <p><%= @article.title %></p>
  <p><%= @article.content %></p>
  <p>Written by <%= @article.author %></p>
  <input type="submit" value="Edit">
</form>

  <% flash.keys.each do |type| %>
    <%= flash[type] %>
  <% end %>
